<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="hybrid_Framework">

  <listeners>

             <listener class-name ="com.healthcare.Utilities.Reporting"/>

    </listeners> 

  <test name="HCR Test">
      <parameter name="browser" value="chrome"/>
      
      <classes>
    <class name="com.healthcare.TestCases.TC_LoginTest_01"/> 
       <class name="com.healthcare.TestCases.TC_LoginTEST_DDT_001"/> 
      </classes>
      
      
  </test> 
  
</suite> 